:root {
  --clr-neutral-50: #f5f7fa;
  --clr-neutral-100: #e4e7eb;
  --clr-neutral-200: #cbd2d9;
  --clr-neutral-300: #9aa5b1;
  --clr-neutral-400: #7b8794;
  --clr-neutral-500: #616e7c;
  --clr-neutral-600: #52606d;
  --clr-neutral-700: #3e4c59;
  --clr-neutral-800: #323f4b;
  --clr-neutral-900: #1f2933;
}
